name: prettier

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true

      - name: Prettify code
        uses: creyD/prettier_action@v2.2
        with:
          dry: true
          prettier_options: --write .
